.button{
    display: flex;
    width: 100px;
    height: 40px;
    background-color: var(--green-900);
    border: 0;
    color: var(--white);
    border-radius: 0.5rem;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.buttonText{
    color: var(--white);
}